$primary-color: #FFF;
@import './../../../../node_modules/loaders.css/src/animations/line-scale-pulse-out.scss';
$sidebar-hover: #DF0002;
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    &.empty {
        width: 430px;
        border-right: 1px solid #606060;
        box-sizing: content-box;
    }
}

.main-sidebar__nav {
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1d1d1d;
    z-index: 2;
    border-left: 1px solid #4d4d4d;
    .side-tooltip {
        background: #e1e1e1;
        min-width: 100px;
        color: #000000;
        display: block;
        top: 10px;
        right: -124px;
        opacity: 0;
        padding: 3px 5px;
        position: absolute;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all .4s ease-out;
        text-align: center;
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        &:before {
            content: ' ';
            border-right: 9px solid #e1e1e1;
            border-top: solid transparent 9px;
            border-bottom: solid transparent 9px;
            height: 0;
            top: 5px;
            position: absolute;
            left: -9px;
        }
    }
    .item {
        border-top: 1px solid #4D4545;
        position: relative;
        &:first-child {
            border-top: 0;
        }
        &.active {
            .icon-tab-text {
                path {
                    fill: $sidebar-hover
                }
            }
            .icon-tab-template,
            .icon-tab-shapes {
                g {
                    stroke: $sidebar-hover;
                }
            }
            .icon-tab-button,
            .icon-tab-background,
            .icon-tab-images,
            .icon-tab-embed {
                path,
                polygon {
                    stroke: $sidebar-hover;
                }
            }
        
            .icon-tab-upload {
                polygon {
                    fill: $sidebar-hover;
                }
                path {
                    stroke: $sidebar-hover;
                }
            }
        }
        &:hover {
            .side-tooltip {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
    }
    .btn {
        width: 34px;
        background: transparent;
        border: 0;
        padding: 0;
        font-size: 0;
        text-align: center;
    }
}

.drop-sidebar {
    background: #1d1d1d;
    position: absolute;
    height: 100%;
    top: 0;
    left: -430px;
    transition: left .3s ease-in-out;
    &.open {
        left: 1px;
    }
    &.active-layer {
        left: 1px;
        .selected-layer-conf {
            right: 0; //transition-delay: 2s;
        }
    }
}

.drop-sidebar__content {
    padding-left: 75px;
    position: relative;
    width: 430px;
    z-index: 1;
    background: transparent;
    top: 0;
    border-right: 1px solid #606060;
    height: 100%;
    overflow: hidden;
    .categories-wrapper {
        height: 100%;
        padding-right: 10px;
    }
}

.category-frame {
    margin: 0 30px 0 5px;
    height: 100%;
}

.category-item {
    height: 100%;
    display: none;
    h4.title {
        text-align: center;
        font-size: 20px;
        color: #D8D8D8;
        padding: 20px;
        line-height: 1;
        margin-bottom: 15px;
    }
    &.active {
        display: block;
    }
    &.text {
        .element {
            text-align: left;
            margin-bottom: 16px;
            .text-el {
                color: #D8D8D8;
                background: transparent;
                display: block;
                line-height: 36px;
            }
        }
    }
    &.shapes {
        .shape {
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
        }
        .shapes-set {
            font-size: 0;
            margin-bottom: 30px;
            .shape-wrapper {
                display: inline-block;
                margin-bottom: 20px;
                text-align: center;
                svg {
                    &:not(.dirty) {
                        path,
                        g {
                            fill: #fbfbfb;
                        }
                    }
                }
            }
            &.four-items {
                .shape-wrapper {
                    width: 20.5%;
                    margin-left: 3%;
                    margin-right: 3%;
                }
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
            &.three-items {
                .shape-wrapper {
                    width: 30%;
                    margin-left: 2.5%;
                    margin-right: 2.5%;
                }
                &.vectors {
                    svg {
                        width: 89px;
                        height: 89px;
                    }
                }
                &.lines,
                &.icons {
                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }
                &.lines {
                    .shape-wrapper,
                    .element {
                        height: 60px;
                    }
                    .element {
                        width: 60px;
                        position: relative;
                    }
                    .line {
                        position: absolute;
                        top: 50%;
                    }
                }
            }
            &.four-items,
            &.three-items {
                .shape-wrapper {
                    &.right {
                        margin-right: 0;
                    }
                    &.left {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &.buttons {
        font-size: 0;
        padding: 0 32px;
        .element {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            margin-bottom: 20px;
            text-align: center;
            .button-el {
                display: inline-block;
                font-weight: 400;
                height: 33px;
                width: 91px;
                outline: none;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

.dropzone-pic {
    width: 100%;
    border: 1px solid #262626;
    padding: 0 10px;
    text-align: center;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #1D1D1D;
    margin-bottom: 30px;
    .dropzone-pic__title {
        font-size: 14px;
        color: #F2F2F5;
        font-family: "Open Sans", sans-serif;
        margin: 16px 0 7px;
    }
    .dropzone-pic__sub-title {
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: #F2F2F5;
    }
}

.dropzone-in {
    height: 140px;
    .not-loaded,
    .loaded {
        display: inline-block;
        vertical-align: middle;
    }
    &:not(.active) {
        .loaded,
        .completed,
        .ready {
            display: none;
        }
    }
    &.active {
        .not-loaded,
        .completed,
        .ready {
            display: none;
        }
    }
    &.completed {
        .not-loaded {
            display: none;
        }
        .completed {
            display: inline-block;
        }
    }
    &.ready {
        .not-loaded {
            display: none;
        }
        .ready {
            display: inline-block;
        }
    }
}

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}

.images-list {
    font-size: 0; //padding-top: 30px;
    //padding-bottom: 30px;
    margin: -2% 0 0;
    li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 2%;
        margin-bottom: 15px; //&:nth-child(odd) {
        //  padding-left: 0;
        //  width: 48%;
        //}
        &:last-child {
            margin-bottom: 70px;
        }
        img {
            max-width: 100%;
            cursor: pointer;
        }
    }
}

.templates-list {
    font-size: 0;
    li.template-item {
        position: relative;
        height: 155px;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 4px;
        &.full-width {
            width: 100%;
        }
        &.full-height {
            height: auto;
        }
        .template-preview {
            position: relative;
            background-color: #4d4d4d;
            cursor: pointer;
            text-align: center;
            height: 100%;
            padding: 4px;
            border: 1px solid #606060;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                width: 0;
            }
            img {
                max-height: 100%;
                max-width: 100%;
                vertical-align: middle;
            }
        }
        .play-icon {
            transition: opacity .5s;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            width: 30px;
            height: 30px;
            background-color: rgba(29, 29, 29, .8);
            border-radius: 15px;
            >div {
                margin-top: 5px;
                margin-left: 5px;
            }
            polygon {
                fill: #ffffff;
            }
        }
        &:hover {
            .play-icon {
                opacity: 1;
            }
        }
    }
}

.templates-list-empty {
    font-size: 12px;
    font-weight: 100;
    color: silver;
    text-align: center;
}

.template-filter {
    text-align: center;
    margin-bottom: 10px;
    h4.title {
        position: relative;
        margin-bottom: 0;
    }
    .template-size-toggle {
        $borderColor: #595959;
        position: absolute;
        top: 20px;
        right: 36px;
        cursor: pointer;
        width: 26px;
        height: 26px;
        border: 1px solid $borderColor;
        svg line {
            stroke: $borderColor;
            stroke-width: 2px;
        }
    }
}

.template-size-menu {
    position: absolute;
    padding-left: 34px;
    z-index: 1001;
    .template-size {
        background-color: #262626;
        color: white;
        width: 230px;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        header {
            border-bottom: 1px solid #595959;
            padding: 12px 0 8px;
            margin: 0 10px;
        }
        ul {
            padding: 5px 0;
            li {
                padding: 6px 25px;
                ;
                cursor: pointer;
                &.active,
                &:hover {
                    background-color: #131313;
                }
            }
        }
    }
}

.sidebar-menu-tabs {
    font-size: 0;
    margin-bottom: 50px;
    li {
        display: inline-block;
        width: 33.3%;
        text-align: center;
        cursor: pointer;
        &.active {
            g,
            polygon,
            path {
                stroke: $sidebar-hover;
            }
        }
        .tab-title {
            margin-top: 6px;
            display: block;
            font-size: 16px;
            color: #D8D8D8;
        }
    }
}

.search-image-frame {
    position: relative;
    margin-bottom: 30px;
    input[type="text"] {
        width: 100%;
        height: 30px;
        background: #7E7E7E;
        font-family: "Open Sans", sans-serif;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
        border: 0;
        padding: 0 20px;
        color: $primary-color;
        font-size: 16px;
        font-weight: 300;
        &::placeholder {
            color: #F2F2F5;
        }
    }
    button {
        font-size: 0;
        position: absolute;
        top: 6px;
        right: 10px;
    }
}

.frame-tabs-out {
    text-align: center;
}

.scroll-frame-out {
    height: 100%;
    overflow: hidden;
}

.frame-image-sidebar {
    height: 100vh;
    .frame-tabs {
        margin-bottom: 15px;
    }
}

.frame-tabs-out,
.scrollarea {
    height: 100%;
}

.scrollarea {
    padding-right: 10px;
}

.frame-tabs {
    display: inline-block;
    position: relative;
    font-size: 0;
    .one-tab {
        color: #9B9B9B;
        min-width: 0;
        font-size: 16px;
        height: 44px;
        &[aria-selected="true"] {
            //background: red;
        }
        >div {
            padding: 0;
        }
        &+.one-tab {
            margin-left: 60px;
        }
    }
    [class^="MuiTabIndicator"],
    [role="tablist"]>div+div {
        width: 100px !important;
        background-color: $sidebar-hover;
    }
}

.category-item.shapes {
    .frame-tabs {
        margin-bottom: 20px;
        .one-tab {
            &+.one-tab {
                margin-left: 0;
            }
        }
    }
}

// Category item delete icon
.category-item-delete {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #1d1d1d;
    text-align: center;
    padding-top: 4px;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    svg path {
        fill: white;
    }
}

.templates-list li:hover .category-item-delete {
    display: block;
}

.images-list li {
    &:hover {
        .category-item-delete {
            display: block;
        }
    }
    .category-item-delete {
        right: 10px;
    }
}

.frame-select-template {
    margin-bottom: 15px;
    >button {
        border: 1px solid #606060;
        background: #2f2f2f;
        display: block;
        height: 36px;
        text-align: left;
        padding: 0 15px;
        position: relative;
        width: 308px;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -2px;
            border-top: 6px solid $primary-color;
            border-right: 3px solid transparent;
            border-left: 3px solid transparent;
        }
        .text-el {
            font-size: 16px;
            color: $primary-color;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
        }
    }
}

.frame-select-items {
    width: 308px;
    border: 1px solid #606060;
    border-top: 0;
    background: #2f2f2f;
    li {
        border-top: 1px solid #606060;
        &:first-child {
            border-top: 0;
        }
        button {
            width: 100%;
            padding: 5px 15px;
            text-align: left;
            .text-el {
                color: $primary-color;
                font-size: 13px;
                font-family: "Open Sans", sans-serif;
                font-weight: 300;
            }
        }
        &:hover,
        &.active {
            button {
                background: #505050;
            }
        }
    }
}