$red-color: #DF0002;

.page-editor {
  position: relative;
  .main {
    transition: margin-left .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: relative;
    height: 100vh;
    border-left: 1px solid #4d4d4d;
    &.sidebar-selected {
      //margin-left: 430px;
    }
    &.dark-theme {
      background-color: #262626;
      .canvas-viewport {
        background-color: #262626;
      }
    }
    &.light-theme {
      background-color: #F2F2F5;
      .canvas-viewport {
        background-color: #ececec;
      }
      .top-menu .top-menu-actions > li {

      }
    }
    .canvas-zone {
      height: 100%;
      position: relative;
      margin-left: 430px;
      .canvas-viewport {
        position: absolute;
        //top: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
        &:before {
          content: "";
          height: 100%;
          width: 0;
          display: inline-block;
          vertical-align: middle;
        }
        .canvas-container {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
   
  }
  &.search-ad-page {
    .sa-zone {
      margin-left: 0;
      .sa-viewport {
        background: transparent;
      }
    }
    .main-sidebar, .frame-left-top-menu {
      display: none;
    }
    .frame-right-top-menu {
      margin-left: 0;
    }
  }
}top-menu-actions

.react-progress-bar {
  position: fixed;
  z-index: 1002;
  width: 100%;
  height: 6px;
  top: 0;

  .react-progress-bar-percent {
    height: 100%;
    background-color: $red-color;
  }
}