.frame-image-sidebar {
  div[class^=MuiTab-labelContainer-] {
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .frame-tabs {
    button[role="tab"] {
      > span {
        > div {
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }

    a {
      color: #9B9B9B;
      text-decoration: none;
      -webkit-transition: color 0.2s ease-in;
      -moz-transition: color 0.2s ease-in;
      -ms-transition: color 0.2s ease-in;
      -o-transition: color 0.2s ease-in;

      &:hover {
        color: #DF0002;
      }
    }
  }
}