@import '../node_modules/animate.css/animate.min.css';
*,
:after,
:before {
    box-sizing: border-box;
}

.wrap {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #4d4d4d;
}

button {
    background: 0 0;
    padding: 0;
    border: 0;
    outline: none !important;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

[class*="btn"] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 0;
    >button,
    >a,
    >span {
        cursor: pointer;
        display: inline-block;
    }
    .text-el {
        font-size: 13px;
    }
}

.helper {
    font-size: 0;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        padding: 0 !important;
        border: 0 !important;
    }
    >*:first-child {
        display: inline-block;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: break-all;
    }
}

// fonts
@font-face {
    font-family: 'RwWidgets';
    src: url('../node_modules/react-widgets/lib/fonts/rw-widgets.eot?v=@{rw-version}');
    src: url('../node_modules/react-widgets/lib/fonts/rw-widgets.eot?#iefix&v=@{rw-version}') format('embedded-opentype'),
    url('../node_modules/react-widgets/lib/fonts/rw-widgets.woff?v=@{rw-version}') format('woff'),
    url('../node_modules/react-widgets/lib/fonts/rw-widgets.ttf?v=@{rw-version}') format('truetype'),
    url('../node_modules/react-widgets/lib/fonts/rw-widgets.svg?v=@{rw-version}#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// react-modal-dialog custom styles
div[data-reactroot] {
    z-index: 1001 !important;
}

.narcissus_17w311v {
    background: #F1F1F1 !important;
    border-radius: 0 !important;
    padding: 40px 50px !important;
}

.narcissus_86uon7 {
    display: none !important;
}

// react-widgets custom styles
.rw-i {
    display: inline-block;
    font-family: RwWidgets;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rw-i-caret-down:before {
    content: '\e803';
}

.rw-i-caret-up:before {
    content: '\e800';
}

.rw-i-caret-left:before {
    content: '\e801';
}

.rw-i-caret-right:before {
    content: '\e802';
}

.rw-i-clock-o:before {
    content: '\e805';
}

.rw-i-calendar:before {
    content: '\e804';
}

.rw-i-search:before {
    content: '\e806';
}

.section-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 2000;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: #606060;
    }
    .loader {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}